@import 'colors.scss';
@import 'fonts.scss';
@import 'buttons.scss';
@import 'animations.scss';

.pcap:not(.changePriority):not(.changePriority1):not(.changePriority2) {
  //width: 80vw;
  //max-width: 80vw;
  //overflow-x: auto;
}

.pcapTable:not(.changePriority) {
  height: min-content;
}

.noSelect {
  user-select: none;
  pointer-events: none;
}
